<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:blackduck?after=additions">
         <command
               commandId="com.blackducksoftware.integration.popupmenu.OpenWarningView"
               label="Open Warning View"
               style="push">
              <visibleWhen>
         		<with
         				variable="selection">
         			<iterate
         					ifEmpty="false">
         				<adapt
         						type="org.eclipse.core.resources.IProject">
         					<test
         							property="org.eclipse.core.resources.projectNature"
         							value="org.eclipse.jdt.core.javanature">
         					</test>
         				</adapt>
         			</iterate>
         		</with>
         	</visibleWhen>
         </command>
         <command
               commandId="com.blackducksoftware.integration.popupmenu.OpenPreferences"
               label="Scanning Preferences..."
               style="push">
         </command>
         <command
         		commandId="com.blackducksoftware.integration.popupmenu.OpenProjectPreferences"
         		label="Project Preferences..."
         		style="push">
         	<visibleWhen>
         		<with
         				variable="selection">
         			<iterate
         					ifEmpty="false">
         				<adapt
         						type="org.eclipse.core.resources.IProject">
         					<test
         							property="org.eclipse.core.resources.projectNature"
         							value="org.eclipse.jdt.core.javanature">
         					</test>
         				</adapt>
         			</iterate>
         		</with>
         	</visibleWhen>	
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="blackduck"
               label="Black Duck">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.blackducksoftware.integration.eclipseplugin.popupmenu.handlers.OpenWarningView"
            id="com.blackducksoftware.integration.popupmenu.OpenWarningView"
            name="Open Warning View">
      </command>
      <command
            defaultHandler="com.blackducksoftware.integration.eclipseplugin.popupmenu.handlers.OpenPreferences"
            id="com.blackducksoftware.integration.popupmenu.OpenPreferences"
            name="Open Preferences">
      </command>
      <command
      		defaultHandler="com.blackducksoftware.integration.eclipseplugin.popupmenu.handlers.OpenProjectPreferences"
      		id="com.blackducksoftware.integration.popupmenu.OpenProjectPreferences"
      		name="Open Project Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
      		name="Black Duck"
      		id="com.blackducksoftware.integration.eclipseplugin.views"
      >
      </category>
      <view
            class="com.blackducksoftware.integration.eclipseplugin.views.WarningView"
            id="com.blackducksoftware.integration.eclipseplugin.views.WarningView"
            name="Warning View"
            category="com.blackducksoftware.integration.eclipseplugin.views"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.blackducksoftware.integration.eclipseplugin.preferences.BlackDuckPreferences"
            id="BlackDuck"
            name="Black Duck">
      </page>
      <page
      		class="com.blackducksoftware.integration.eclipseplugin.preferences.ActiveJavaProjects"
      		id="ActiveJavaProjects"
      		name="Active Java Projects"
      		category="BlackDuck">
      </page>
      <page
      		class="com.blackducksoftware.integration.eclipseplugin.preferences.ProjectSpecificPreferenceDefaults"
      		id="ProjectSpecificPreferenceDefaults"
      		name="Project Specific Preference Defaults"
      		category="BlackDuck">
      </page>
   </extension>
</plugin>
